* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-content: center;
    gap: 0.5rem;
    background-color: rgb(71, 71, 71);
}

.centerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    display: grid;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

.cell:hover {
    background-color: rgb(194, 194, 194);
}

div.player1, div.player2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 3rem;
    flex: 1;
    align-items: center;
    border: 1rem solid white;
}

.name, .symbol {
    padding: 1rem;
    margin: 1rem;
    font-size: xx-large;
    font-weight:bolder;
    width: max(10vw, 50%);
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
}

.symbol {
    width: 2vw;
}

button > img {
    width: 2rem;
    height: 2rem;
}

button {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bolder;
    font-size: medium;
}

button:hover {
    background-color: rgb(207, 207, 207);
}

button:active {
    background-color: rgb(230, 230, 230);
}

.info {
    margin-bottom: 4rem;
    font-size: xx-large;
    font-weight: bolder;
}

.gameButton {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.startGameButton {
    padding: 1rem 4rem;
}

div.yellow {
    border: 1rem solid yellow;
}

div.green {
    border: 1rem solid green;
}